name: Tests

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - grammar.js
      - src/**
      - queries/**
      - test/**
      - bindings/**
      - binding.gyp
  pull_request:
    paths:
      - grammar.js
      - src/**
      - queries/**
      - test/**
      - bindings/**
      - binding.gyp

concurrency:
  group: ${{github.workflow}}-${{github.ref}}
  cancel-in-progress: true

jobs:
  test:
    name: Test parser
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-14]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up tree-sitter
        uses: tree-sitter/setup-action/cli@v1
        with:
          tree-sitter-ref: v0.24.3
      - name: Run tests
        uses: tree-sitter/parser-test-action@v2
        with:
          abi-version: "14"
          test-rust: ${{runner.os == 'Linux'}}
          test-go: ${{runner.os == 'Windows'}}
          test-swift: ${{runner.os == 'macOS'}}
